/* header */
h1 {
  background-color: skyblue;
}
p1 {
  padding: 50rem, 200rem, 5rem, 2rem;
  font-family: “Times New Roman”, Times, serif;
}

p2 {
  background-color: magenta;
  font-style: unset;
}
